.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.header-img {
    transition: width 1s;
}
.header-img-expanded {
    width: 400px;
}
.header-img-contracted {
    width: 150px;
}
.header-text {
    font-family: "Hachi Maru Pop", cursive;
    margin: 5px 0 15px 0;
    transition: font-size 1s;
}
.header-text-expanded {
    font-size: 36px;
}
.header-text-contracted {
    font-size: 12px;
}
